/data
.DS_Store
.idea/
.ipynb_checkpoints
**/.ipynb_checkpoints/*
*__pycache__*
*.zip
/logs
/.idea
/*.ini
.idea
idea/*
/data
/output
/logs
/__pycache__
/core/__pycache__
/core/duration_modeling/__pycache__
/core/energy_predictor/__pycache__
/core/pitch_predictor/__pycache__
/dataset/__pycache__
/dataset/texts/__pycache__
/utils/__pycache__
/modules/__pycache__
/checkpoints
/trace_loss.txt
/unused_code.txt
/test.py
/rest_tts.py
/preprocess.py
/trace_loss_nvidia.txt
/conf
/dataset/text/__pycache__
/road_segmentation_ideal
/hparams.py
